<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
     <!-- 扫描器 -->
     <context:component-scan base-package="com.jvtc"></context:component-scan>
     <!-- 配置数据源（访问数据库一些设置,驱动程序,连接字符串（服务器名称，数据库名称），用户名和密码 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
         <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
         <property name="url" value="jdbc:mysql://localhost:3306/stinfo?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC"></property>
         <property name="username" value="root"></property>
         <property name="password" value="rjjs"></property>
    </bean>
    <!-- 注入JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
       <property name="dataSource" ref="dataSource"></property>           
    </bean>
    
    <!-- 用set方法注入IOC容器 -->
    <!-- 
    <bean id="gradeDaoImpl" class="com.jvtc.dao.impl.GradeDaoImpl">
       <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean id="gradeServiceImpl" class="com.jvtc.service.impl.GradeServiceImpl">
        <property name="gradeDao" ref="gradeDaoImpl"></property>
    </bean>
    <bean id="studentDaoImpl" class="com.jvtc.dao.impl.StudentDaoImpl">
      <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean id="studentServiceImpl" class="com.jvtc.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDaoImpl"></property>
        <property name="gradeService" ref="gradeServiceImpl"></property>
     </bean>
      -->
     <!-- 事务管理器 -->
     <bean id="tvManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource"></property>
     </bean>
     <!-- 事务驱动 -->
     <tx:annotation-driven transaction-manager="tvManager"/>
     <!-- 事务通知 -->
     <!-- 
     <tx:advice id="myAdvice" transaction-manager="tvManager">
        <tx:attributes>
           <tx:method name="*"/>
        </tx:attributes>     
     </tx:advice>
      -->
     <!-- aop切面 
     <aop:config>
      
        <aop:pointcut expression="execution(* com.jvtc.service.impl.StudentServiceImpl.*(..))" id="pointCut"/>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="pointCut"/>     
     </aop:config>
     -->
</beans>
